.feed-gallery {
    margin: 20px;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .image-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    display: block;
  }
  